<div class="home-container">
  <div class="tables-container" style="display: flex; flex-direction: column;align-items: center; justify-content: center;">
    <h3>Selecionar Tabelas</h3>
    <div style="display:flex; flex-direction: row; align-items: center; justify-content: space-around; width: 80%;">
      <button class="filterButton" (click)="toggleTable('plantdetails')" [style.backgroundColor]="selectedTables.includes('plantdetails') ? 'rgba(0, 255, 34, 0.178)' : ''">Plant_details</button>
      <button class="filterButton" (click)="toggleTable('cultivation')" [style.backgroundColor]="selectedTables.includes('cultivation') ? 'rgba(0, 255, 34, 0.178)' : ''">Cultivation</button>
      <button class="filterButton" (click)="toggleTable('plantdangerous')" [style.backgroundColor]="selectedTables.includes('plantdangerous') ? 'rgba(0, 255, 34, 0.178)' : ''">Dangerous_plants</button>
    </div>
  </div>

  <hr style="width: 100%; margin: 10px;">

  <div *ngIf="selectedTables.includes('plant')" class="filter-container" style="width: 60%;">
    <button class="filterButton" (click)="toggleAttribute('scientific_name')" [style.backgroundColor]="attributes.includes('scientific_name') ? 'rgba(0, 255, 34, 0.178)' : ''">Scientific Name</button>
    <h3> ⏪ Selecione ao menos 1 ⏩ </h3>
    <button class="filterButton" (click)="toggleAttribute('common_name')" [style.backgroundColor]="attributes.includes('common_name') ? 'rgba(0, 255, 34, 0.178)' : ''">Common Name</button>
  </div>

  <div *ngIf="selectedTables.includes('plantdetails')" class="filter-container">
    <select class="filterButton" (change)="changeEdible($event)" [style.backgroundColor]="edible_fruit !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Comestível</option>
      <option value="true">Comestível true</option>
      <option value="false">Comestível false</option>
    </select>
    <select class="filterButton" (change)="changeIndoor($event)" [style.backgroundColor]="indoor !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Interior</option>
      <option value="true">Interior true</option>
      <option value="false">Interior false</option>
    </select>
    <select class="filterButton" (change)="changeInvasive($event)" [style.backgroundColor]="invasive !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Invasiva</option>
      <option value="true">Invasiva true</option>
      <option value="false">Invasiva false</option>
    </select>
    <select class="filterButton" (change)="changeMedicinal($event)" [style.backgroundColor]="medicinal !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Medicinal</option>
      <option value="true">Medicinal true</option>
      <option value="false">Medicinal false</option>
    </select>
    <select class="filterButton" (change)="changeGrowthRate($event)" [style.backgroundColor]="growth_rate !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Taxa crescimento</option>
      <option value="low">Crescimento lento</option>
      <option value="moderate">Crescimento moderado</option>
      <option value="high">Crescimento rápido</option>
    </select>
  </div>

  <div *ngIf="selectedTables.includes('plantdangerous')" class="filter-container" style="width: 50%;">
    <select class="filterButton" (change)="changePoisonous($event)" [style.backgroundColor]="poisonous_to_pets !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Venenosa para pets</option>
      <option value="true">Venenosa true</option>
      <option value="false">Venenosa false</option>
    </select>
    <select class="filterButton" (change)="changeCareLevel($event)" [style.backgroundColor]="care_level !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Nível de cuidado</option>
      <option value="nothing">Nenhum</option>
      <option value="moderate">Moderado</option>
      <option value="medium">Médio</option>
      <option value="high">Alto</option>
    </select>
  </div>

  <div *ngIf="selectedTables.includes('cultivation')" class="filter-container" style="width: 50%;">
    <select class="filterButton" (change)="changeSunlight($event)" [style.backgroundColor]="sunlight !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Luz solar</option>
      <option value="full sun">Sempre sol</option>
      <option value="part sun/part shade">Parte sol/parte sombra</option>
    </select>

    <select class="filterButton" (change)="changeWatering($event)" [style.backgroundColor]="watering !== '' ? 'rgba(0, 255, 34, 0.178)' : ''">
      <option value=''>Água</option>
      <option value="Average">Média</option>
      <option value="Frequent">Frequente</option>
    </select>
  </div>

  <button class="pesquisar" (click)="search()" [disabled]="isLoading">
    <span *ngIf="!isLoading">Pesquisar</span>
    <span *ngIf="isLoading">Carregando...</span>
  </button>

  <div class="tableContainer" *ngIf="dataSource.data.length > 0" style="max-height: 70vh; overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="background: none;">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
